<!doctype html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <script src="{% static 'js/index_script.js' %}"></script>  
  <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>
<body>
    <div id="admin" class="flex h-screen flex-col bg-gray-100 min-w-min">
        <nav
            class="flex w-full flex-wrap items-center justify-between border-b border-gray-200 bg-white p-4 p-4 md:top-0 md:z-20">
            <a href="/" class="nav_logo flex items-center text-xl font-semibold text-black w-30">
                 <img class="cover-fill mr-3 h-12 w-12 rounded-lg" src="{% static 'images/logo3.png' %}" alt="">
                 <div class='console-container flex flex-row m-auto text-center text-xl h-12 w-25 relative top-3 left-0 right-0 bottom-0'><span id='text'></span><div class='console-underscore inline-block text-black w-4 h-2' id='console'>&#95;</div></div>
            </a>

            <div class="flex min-w-min">
                <div class="relative ml-16">
                    <div class="flex cursor-pointer items-center text-center" id="drop-down-btn">
                        <img class="mr-2 h-11 w-11 rounded-3xl object-cover" src="https://www.egames.news/__export/1665083629203/sites/debate/img/2022/10/06/cuxndo_se_estrena_el_nuevo_anime_de_terror_de_chainsaw_man.jpg_423682103.jpg" alt="avatar">
                        <h4 class="text-gray-800 font-semibold" id="user_name">{{user_email}}</h4>
                        <i class="fa-solid fa-caret-down ml-2 mt-1 justify-center text-center"></i>
                    </div>

                    <div id="drop-down" class="absolute mt-4 hidden rounded border border-gray-300 bg-white shadow-md">
                        <a href="/profile" class="block px-10 py-2 text-gray-800 hover:bg-gray-200">
                            Profile
                        </a>
                        <form id="logout-form" action="" method="POST" class="d-none">
                          {% csrf_token %}
                            <button class="dropdown-item block px-10 py-2 text-gray-800 hover:bg-gray-200">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <div class="flex flex-grow min-w-min">
            <div class="w-1/6 border-gray-300 bg-white px-3 py-4 min-w-min">
                <ul>
                    <a class="text-green-500 hover:text-green-700"
                         id="home_dashboard">
                        <li class="hover:bg-gray-300 hover:cursor-pointer mb-2 rounded-xl p-3" id="home_dashboard_li">
                            <i class="fa-solid fa-chart-simple mr-2 w-5"></i>
                            Dashboard
                        </li>
                    </a>
                    <a class="text-green-500 hover:text-green-700"
                         id="videos_dashboard">
                        <li class="hover:bg-gray-300 hover:cursor-pointer mb-2 rounded-xl p-3" id="videos_dashboard_li">
                            <i class="fa-solid fa-video mr-2 w-5"></i>
                            Videos
                        </li>
                    </a>
                    <a class="text-green-500 hover:text-green-700 hover:text-green-700"
                         id="users_dashboard">
                        <li
                            class="hover:bg-gray-300 hover:cursor-pointer mb-2 rounded-xl p-3" id="users_dashboard_li">
                            <i class="fa-solid fa-user mr-2 w-5"></i>
                            Users
                        </li>
                    </a>
                </ul>
            </div>

            <div class="m-6 w-5/6 min-w-min rounded-xl bg-white px-10 py-4">
                <section id="main_dashboard_table" class="text-black">
                    <h1 class="text-2xl font-bold mt-2 mb-10">Dashboard</h1>
                    <section class="statis mt-4 text-center">
                      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                        <div class="col-md-6 col-lg-3 mb-4">
                          <div class="box bg-blue-500 rounded-lg p-3 shadow-inner">
                            <i class="fa-solid fa-eye fa-xl relative mb-6 antialiased" style="color: #ffffff;"></i>
                            <h3 class="text-xl font-bold mb-1 antialiased text-white">5,154</h3>
                            <p class="text-lg font-semibold subpixel-antialiased text-white">Page views</p>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-4">
                          <div class="box bg-red-500 rounded-lg p-3 shadow-inner">
                            <i class="fa-solid fa-user fa-xl mb-6 antialiased" style="color: #ffffff;"></i>
                            <h3 class="text-xl font-bold mb-1 antialiased text-white" id="registered_users">245</h3>
                            <p class="text-lg font-semibold font-medium subpixel-antialiased text-white">User registered</p>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                          <div class="box bg-yellow-400 rounded-lg p-3 shadow-inner">
                            <i class="fa-solid fa-cloud-arrow-up fa-xl mb-6 antialiased" style="color: #ffffff;"></i>
                            <h3 class="text-xl font-bold mb-1 antialiased text-white text-white" id="uploaded_videos">5,154</h3>
                            <p class="text-lg font-semibold subpixel-antialiased text-white">File Uploads</p>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                          <div class="box bg-green-600 rounded-lg p-3 shadow-inner">
                            <i class="fa-solid fa-circle-arrow-down fa-xl mb-6 antialiased" style="color: #ffffff;"></i>
                            <h3 class="text-xl font-bold mb-1 antialiased text-white">5,154</h3>
                            <p class="text-lg font-semibold subpixel-antialiased text-white">Downloads</p>
                          </div>
                        </div>
                      </div>
                    </section>
                  </section>                  
                <h1 id="table_name" class="text-2xl font-bold mt-2"></h1>
                <div class="flex flex-row gap-2 w-full p-2 justify-end items-center relative" id="search_bar">
                    <h4 class="font-semibold mr-10 top-5 relative flex-grow" id="results_number"></h4>
                    <input type="text" id="search" class="border border-gray-300 rounded-lg px-4 py-2 w-96" placeholder="Search">
                    <button class="bg-green-500 text-white rounded-lg px-4 py-2 ml-2 active:bg-blue-500" id="search_button">Search&ensp;<i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <table id="data_table" class="min-w-full table-auto mt-4">
                    <thead>
                        <tr>
                            <tr id="table_headers">
                            </tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="flex flex-row gap-2 w-min p-2 mt-6 justify-start items-center" id="page_count">
                    <h4 class="font-semibold " id="title_page">Page</h4>
                    <h4 id="current_page_number" class="font-extrabold"></h4>
                    <h4 class="font-semibold" id="title_of">of</h4>
                    <h4 id="total_pages" class="font-extrabold"><h4>
                </div>
                <div class="flex gap-6 flex-row w-full h-8 p-4 relative -top-9 justify-end items-center" id="page_navigator">
                    <button class="font-semibold text-green-500 active:text-blue-500" id="previous_button"><i class="fa-solid fa-backward-step"></i>&ensp;Previous</button>
                    <p class="font-semibold text-green-500" id="current_page">1</p>
                    <button class="font-semibold text-green-500 active:text-blue-500" id="next_button">Next&ensp;<i class="fa-solid fa-forward-step"></i></button>
                </div>
            </div>
        </div>
</body>
</html>
