<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/YOUR_KIT_CODE.css" integrity="SHA384-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous">
</head>

<body>
    <!-- component -->
    <div class="bg-gradient-to-r from-green-300 via-blue-400 to-blue-300 min-h-screen">
        <header class="header bg-white shadow">
            <nav class="mx-auto flex max-w-full items-center justify-between px-10 py-4">
                <a href="/" class="nav_logo flex items-center text-xl font-semibold text-black">
                    <img class="cover-fill mr-5 h-12 w-12 rounded-3xl" src="{% static 'images/logo2.png' %}" alt="" />
                    <p>AnimeChan</p>
                </a>
                <div class="relative">
                    <div id="drop-down-btn" class="cursor-pointer flex">
                        <div class="flex pl-10 justify- text-center items-center">
                            <img class="cover-fill h-14 w-14 rounded-3xl border" src="{% static 'images/avatar.png' %}"
                                alt="">
                            <i class="fas fa-solid fa-caret-down ml-2 mt-1 justify-center text-center"></i>
                        </div>
                    </div>
                    <div id="drop-down" class="absolute hidden rounded border mt-3 border-gray-300 bg-white shadow-md">
                        <p class="px-4 py-2 font-medium ">{{user_email}}</p>
                        <!-- <form id="logout-form" action="{% url 'logout' %}" method="POST" class="d-none">
                            {%csrf_token%}
                            <button type="submit"  class="dropdown-item block px-10 py-2 text-gray-800 hover:bg-slate-200" >
                                Logout
                            </button>
                        </form> -->
                        <a href="{% url 'logout' %}" class="dropdown-item block px-10 py-2 text-gray-800 hover:bg-slate-200">Logout</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="btn-convert mt-20">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex justify-center items-center text-center">
                    <button class="p-5 rounded-xl hover:bg-orange-400 bg-white" type="submit">Convert</button>
                </div>
            </form>
        </div>
    </div>       
</body>
</html>